MIT License
Copyright (c) 2021 Mallchad
This source is provided with no limitations or warrenty whatsoever.

# Ignore everything in root
/*

#Whitelsit
!.emacs.d
!.emacs.d/*.el
!.emacs.d/init.el
!.emacs.d/etc/*.el
!.emacs.d/src
!.emacs.d/src/*.el
!.emacs.d/resources
!README.md
!*.md
!doc/
!doc/plan.org
